body {
    background-color: snow;
}

.cards {
    width: 100%;
    text-align: center;
}

#result {
    color: red;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 85px 70px 85px 70px;

    cursor: default;
    border: 2px solid rgb(139,69,19);
    background-color: white;
    border-radius: 14%;
}
